In [6]:
import pandas as pd
import os

# 현재 작업 디렉토리를 가져옵니다 (Jupyter Notebook 환경에서)
current_dir = os.getcwd()

# CSV 파일을 읽어옵니다
file_path = 'moma_artists_links.csv'  
df = pd.read_csv(file_path)

# 중복 레코드 삭제
df_unique = df.drop_duplicates()

# 결과를 새로운 CSV 파일로 저장합니다
output_file_name = 'moma_artists_final.csv'  # 저장할 파일 이름을 지정해주세요
output_file_path = os.path.join(current_dir, output_file_name)
df_unique.to_csv(output_file_path, index=False)


print(f"중복 레코드가 제거된 CSV 파일이 '{output_file_path}'에 저장되었습니다.")

중복 레코드가 제거된 CSV 파일이 'a:\바탕화면\김우경 교수님 크롤링 작업\moma_artists_final.csv'에 저장되었습니다.

In [10]:
df1 = pd.read_csv(file_path)
df1.head()

                                         artist_link
0  https://artfacts.net/artist/elinor-bellingham-...
1   https://artfacts.net/artist/frank-brangwyn/30490
2    https://artfacts.net/artist/stephen-conroy/1625
3    https://artfacts.net/artist/hans-feibusch/30758
4  https://artfacts.net/artist/james-flewitt-mull...

In [8]:
df2=pd.read_csv('moma_artists_final.csv')
df2.head()

                                         artist_link
0  https://artfacts.net/artist/elinor-bellingham-...
1   https://artfacts.net/artist/frank-brangwyn/30490
2    https://artfacts.net/artist/stephen-conroy/1625
3    https://artfacts.net/artist/hans-feibusch/30758
4  https://artfacts.net/artist/james-flewitt-mull...

In [11]:
df1.shape

(47717, 1)

In [12]:
df2.shape

(28489, 1)

In [15]:
import pandas as pd
import os

# CSV 파일을 읽어옵니다
file_path = 'moma_artists_final.csv' 
df = pd.read_csv(file_path)

# 원하는 레코드 수를 설정합니다
records_per_file = 5000  # 파일 하나에 포함될 레코드 수

# 전체 레코드 수를 확인합니다
total_records = len(df)

# 현재 작업 디렉토리를 가져옵니다
current_dir = os.getcwd()

# 데이터프레임을 나눕니다
for i in range(0, total_records, records_per_file):
    split_df = df.iloc[i:i + records_per_file]
    output_file_name = f'artists_split{i//records_per_file + 1}.csv'
    output_file_path = os.path.join(current_dir, output_file_name)
    split_df.to_csv(output_file_path, index=False)
    print(f"파일 '{output_file_path}'이(가) 저장되었습니다.")

파일 'a:\바탕화면\김우경 교수님 크롤링 작업\artists_split1.csv'이(가) 저장되었습니다.
파일 'a:\바탕화면\김우경 교수님 크롤링 작업\artists_split2.csv'이(가) 저장되었습니다.
파일 'a:\바탕화면\김우경 교수님 크롤링 작업\artists_split3.csv'이(가) 저장되었습니다.
파일 'a:\바탕화면\김우경 교수님 크롤링 작업\artists_split4.csv'이(가) 저장되었습니다.
파일 'a:\바탕화면\김우경 교수님 크롤링 작업\artists_split5.csv'이(가) 저장되었습니다.
파일 'a:\바탕화면\김우경 교수님 크롤링 작업\artists_split6.csv'이(가) 저장되었습니다.